.homepage {
    padding: 0 4rem;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
        transition: .2s;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #44444466;
    }

    h2 {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }
}

.latestEpisodes {

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;

        li {
            background-color: var(--subBackground);
            border: 1px solid var(--border);
            padding: 1.25rem;
            border-radius: 1.5rem;
            position: relative;
            display: flex;
            flex: 1;
            align-items: center;

            .episodeDetails {
                flex: 1;
                margin-left: 1rem;
                width: 1%;

                a {
                    display: block;
                    color: var(--text);
                    font-family: Lexend, sans-serif;
                    font-weight: 600;
                    text-decoration: none;
                    line-height: 1.4rem;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                p {
                    font-size: 0.875rem;
                    margin-top: 0.5rem;
                    max-width: 70%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                span {
                    display: inline-block;
                    margin-top: 0.5rem;
                    font-size: 0.875rem;

                    &:last-child {
                        margin-left: 0.5rem;
                        padding-left: 0.5rem;
                        position: relative;
                    }

                    &::before{
                        content: "";
                        width: 4px;
                        height: 4px;
                        border-radius: 2px;
                        background: #ddd;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }

        }
    }
}

.allEpisodes {
    padding-bottom: 2rem;

    table{
        width: 100%;

        th, td {
            padding: 0.75rem 1rem;
            border-bottom: 1px solid var(--border);
            transition: .2s border-color;
        }

        th {
            color: var(--description);
            text-transform: uppercase;
            font: 500 0.75rem Lexend, sans-serif;
            text-align: left;
        }

        td{
            font-size: .875rem;

            img{
                width: 2.5rem;
                height: 2.5rem;
                border-radius: .5rem;
            }

            a {
                color: var(--text);
                font-family: Lexend, sans-serif;
                text-decoration: none;
                line-height: 1.4rem;
                font-size: 1rem;

                &:hover{
                    text-decoration: underline;
                }
            }

            button{
                right: 2rem;
                bottom: 2rem;

                width: 2rem;
                height: 2rem;
                background-color: var(--subBackground);
                border: 1px solid var(--border);
                border-radius: 0.5rem;
                font-size: 0;
                transition: .2s;

                > img {
                    min-width: 0;
                    width: 1.25rem;
                    height: 1.25rem;
                }

                &:hover{
                    filter: brightness(.95);
                }
            }
        }
    }
}