.headerContainer {
    background: var(--subBackground);
    height: 6.5rem;
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    border-bottom: 1px solid var(--border);
    transition: .2s background-color, .2s border-color;

    img{
        cursor: pointer;
    }

    p{
        margin-left: 2rem;
        padding: 0.25rem 0 0.25rem 2rem;
        border-left: 1px solid var(--border);
        transition: .2s border-color;
    }

    div{
        margin-left: auto;
        display: flex;
        align-items: center;

        span{
            text-transform: capitalize;
        }
    }
}